.footer-contact {
  border-top: 1px solid rgb(201, 201, 201);

  .elemento-equipo {
    text-align: center;
    .footer-2 {
      color: #54585a;
    }
  }
}
.logo-padre{
  padding-bottom: 20px;
}
