// estilos imagen
.img {
  width: 100%;
}

.background {
  position: relative;
  padding-top: 160px;
}

//Estilos header

.header {
  width: 100%;
  position: sticky;
  position: absolute;
  top: 0px;
  
}
.header-title {
  background: $fontHeader;
  display: flex;
  justify-content: center;
  padding: 40px;
  font-family: $fontTitle;
  color: white;
  font-weight: 500;
  opacity: $opacity;
  position: sticky;
  font-size: medium;
}

.nav {
  background: rgb(64, 224, 208, 0.9);
  display: flex;
  color: white;
  font-family: $fontTitle;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-weight: 500;
  opacity: $opacity;
}
.list {
  display: flex;
  gap: 30px;
  font-family: var(--font-title);

  font-size: 15px;
}

.list-item a {
  color: white;

}




//Estilos subtitulo blanco flotante

.section-div-lorem {
  display: flex;
  justify-content: center;
  transform: translateY(-50px);
  

}


.div-lorem {

  width: 75%;
  background-color: rgba(247, 245, 245, 0.555);
  padding: 15px;

}

.h2 {

  font-family: var(--font-body);
  font-size: 18px;
  text-align: center;
  /*En el ejemplo no se ve alineado del todo*/
  font-weight: 645;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  color: var(--font-color-subtitle)
}


@media screen and (min-width: 768px) {
  .header {
    background-color: $fontHeader;
    display: flex;
    justify-content: space-between;
    height: 84px;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: $fontHeader;
    
  }

  
  


}