// estilos imagen
.img {
  width: 100%;
}

.background {
  position: relative;
  padding-top: 160px;
}


header {
  width: 100%;
  position: sticky;
  position: absolute;
  top: 0px;
  
}
.header-title {
  background: #099d8d;
  display: flex;
  justify-content: center;
  padding: 40px;
  font-family: $fontTitle;
  color: white;
  font-weight: 500;
  opacity: $opacity;
  position: sticky;
  font-size: medium;
}

.nav {
  background: rgb(64, 224, 208, 0.9);
  display: flex;
  color: white;
  font-family: $fontTitle;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-weight: 500;
  opacity: $opacity;
}
.span1 {
  display: flex;
}

.span2 {
  width: 141px;
  height: 40px;
}

//Estilos subtitulo blanco flotante

.section-div-lorem {
  display: flex;
  justify-content: center;
  transform: translateY(-50px);
  

}


.div-lorem {

  width: 75%;
  background-color: rgba(247, 245, 245, 0.555);
  padding: 15px;

}

.h2 {

  font-family: var(--font-body);
  font-size: 18px;
  text-align: center;
  /*En el ejemplo no se ve alineado del todo*/
  font-weight: 645;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  color: var(--font-color-subtitle)
}