header {
  position: sticky;
  top: 0;
  z-index: 3;
}
.header-title {
  background: #099d8d;
  display: flex;
  justify-content: center;
  padding: 40px;
  font-family: $fontTitle;
  color: white;
  font-weight: 500;
  opacity: $opacity;
  position: sticky;
  font-size: large;
}

.nav {
  background: rgb(64, 224, 208);
  display: flex;
  color: white;
  font-family: $fontTitle;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-weight: 500;
  opacity: $opacity;
}
.span1 {
  display: flex;
}

.span2 {
  width: 141px;
  height: 40px;
}
