:root {
    --font-title: "Rubik", sans-serif;
    --font-body: "Open Sans", sans-serif;
    --font-color-tittle: #14d9c4;
}

$fontTitle: "Rubik", sans-serif;
$fontBody: "Open Sans", sans-serif;
$fontColorTittle: #14d9c4;