<footer class="footer">
  <div class="footer-contact">

    <p class="footer-1">Nombre del grupo © 2024</p>

    <div class="elemento-equipo">
    <p class="footer-2">EQUIPO <br />QUIENES SOMOS <br />CONTACTO</p>
  </div>

  <div class="logo-padre">
    <img class="logo-adalav" src="./images/logo-adalab.png" alt="Logo Adalab" />
  </div>
  </div>
</footer>

//FOOTER ESPECIFICO MEDIA QUERIS

<footer class="footer-responsive">
  <div class="footer-contact">

    <p class="footer-1">Nombre del grupo © 2024</p>

    <div class="logo-padre">
      <img class="logo-adalav" src="./images/logo-adalab.png" alt="Logo Adalab" />
    </div>
  
  </div>

  <div class="elemento-equipo">
    <p class="footer-2">EQUIPO <br />QUIENES SOMOS <br />CONTACTO</p>
  </div>

  </footer>


