<main>
  <section class="contact" >
    <div class="container">
      <h2>CONTACTO</h2>

        <div class="contacto">
      <p class="contact-1">
        Si quieres contactar con nosotras, rellena el siguiente formulario y nos pondremos en contacto contigo en la mayor brevedad posible.  
      </p>
      <p class="contact-2">
        Todos los campos marcados con <span class="obligatory">*</span> son
        obligatorios.
      </p>
    </div>
    </div>
  </section>

  <section class="form">
    <div class="container formcontainer">
      <form action="https://formspree.io/f/mbjnnkqz" method="POST">
        <label for="Nombre">
          <span>Nombre Completo <span class="obligatory">*</span></span> <br />
          <input type="text" name="Nombre" placeholder="Nombre..." id="Nombre" required/>
        </label>
        <br />


        <label for="email">
          <span>Email <span class="obligatory">*</span></span> <br />
          <input type="email" name="email" placeholder="Email" id="email" required/>
        </label>
       <br>

      
        <label for="telefono">
          <span>Teléfono</span> <br />
          <input type="tel" name="telefono" placeholder="Ej.123456789" id="telefono" />
        </label>
        <br/>

        <label for="mensaje">
          <span>Mensaje</span> <br />
           <input type="text" name="mensaje" class="input__mensaje" placeholder="¿Qué necesitas?" id="mensaje">
        </label>
     
      <div class="buttondiv">
      <button input type="submit" class="button" id="button">ENVIAR</button>
    </div>
    </form>
    </div>
    
  </section>
</main>

<!-- <footer class="footer-contact">
        <p class="footer-1">Nombre del grupo © 2024</p>

        <p class="footer-2">EQUIPO <br>QUIENES SOMOS <br>CONTACTO</p>

        <img class="logo" src="./images/logo-adalab.png" alt="Logo Adalab">

    </footer> -->
