<main>
  <section class="contact" >
    <div class="container">
      <h2>CONTACTO</h2>

        <div class="contacto">
      <p class="contact-1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat
      </p>
      <p class="contact-2">
        Todos los campos marcados con <span class="obligatory">*</span> son
        obligatorios.
      </p>
    </div>
    </div>
  </section>

  <section class="form">
    <div class="container formcontainer">
      <form action="">
        <label for="Nombre">
          <span>Nombre Completo <span class="obligatory">*</span></span> <br />
          <input type="text" placeholder="Nombre..." id="Nombre" required/>
        </label>
        <br />

        <label for="email">
          <span>Email <span class="obligatory">*</span></span> <br />
          <input type="email" placeholder="Email" id="email" required/>
        </label>
        <br />

        <label for="telefono">
          <span>Teléfono</span> <br />
          <input type="tel" placeholder="Ej.123456789" id="telefono" />
        </label>
        <br />

        <label for="mensaje">
          <span>Mensaje</span> <br />
          <input
            type="text"
            class="input__mensaje"
            placeholder="¿Qué necesitas?"
            id="mensaje"
          />
        </label>
      </form>
      <div class="buttondiv">
      <button class="button" id="button">ENVIAR</button>
     </div>
    </div>
  </section>
</main>

<!-- <footer class="footer-contact">
        <p class="footer-1">Nombre del grupo © 2024</p>

        <p class="footer-2">EQUIPO <br>QUIENES SOMOS <br>CONTACTO</p>

        <img class="logo" src="./images/logo-adalab.png" alt="Logo Adalab">

    </footer> -->
