<header>
  <h1 class="header-title">&#8249; Game Retro Code &#8250;</h1>
  <nav class="nav">
    <ul class="list">
      <li class="list-item"> <a href="./index.html">EQUIPO</a></li>
      <li class="list-item"> <a href="./quienessomos.html">QUIENES SOMOS</a></li>
      <li class="list-item"> <a href="./formulario.html">CONTACTO</a></li>
    </ul>
     
  </nav>
</header>

<div class="background">
  <img class="img" src="/images/gameboyfondo.jpg" />
</div>

<section class="float-header">
  <div class="div-float-header">
    <h2 class="tittle-float-header">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </h2>
  </div>
</section>
