<header>
  <h1 class="header-title">NOMBRE DEL GRUPO</h1>
  <nav class="nav">
    <span class="span1">EQUIPO</span>
    <span class="span2">QUIENES SOMOS</span>
    <span class="span3">CONTACTO</span>
  </nav>
</header>

  <section class="section-2">
    <h1 class="title-2">EQUIPO</h1>
    <p class="parrafo-lorem-2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum
      ullamcorper mauris, vel convallis metus eleifend in. Cras hendrerit at
      ante eget auctor. Nunc maximus ipsum non volutpat convallis. Morbi
      interdum neque et aliquam varius.
    </p>

    <p class="parrafo-vivamus-2">
      Vivamus feugiat eu sem sed eleifend. Morbi efficitur lorem eget justo
      sodales feugiat. Vestibulum tristique sed ante semper elementum. Orci
      varius natoque penatibus et magnis dis parturient montes, nascetur
      ridiculus mus
    </p>
  </section>

