<main class="main" id="main">
  <section class="section-2">
    <h1 class="title-2">EQUIPO</h1>
    <p class="parrafo-lorem-2">
      Game Retro Code nace de la idea de programar, ser curiosas, cometer
      errores, formarnos, mejorar y divertirnos en el camino.
    </p>

    <p class="parrafo-vivamus-2">
      El equipo está formado por tres mujeres apasionadas por el mundo de la
      programación y la tecnología, dispuestas a renovarse y progresar en este
      fascinante sector.
    </p>
  </section>

  <!-- ZONA GRIS -->

  <div class="elemento-flotante">
    <div class="flotante"></div>
  </div>
  <!-- 
  en la sección gris he metido en contenedores div cada titulo y parrafo porque necesitaba hacer un display flex en el mediaqueris para cambiarlo de disposición -->
  <section class="elemento-gris-contactos">
    <div class="section-fortalezas">
      <h1 class="title-3">Fortalezas</h1>
      <p class="parrafo-lorem-3">
        Entre nuestras fortalezas destacan la determinación, la disciplina y
        nuestras ganas de aprender. Esto nos permite afrontar los retos que nos
        propongan y alcanzar nuestros intereses y objetivos. Nunca nos rendimos.
      </p>
    </div>

    <div class="section-debilidades">
      <h1 class="title-3">Debilidades</h1>

      <p class="parrafo-vivamus-3">
        Como debilidades, el afán de perfeccionismo en nuestro trabajo hace que
        muchas veces lleguemos a decepcionarnos por no encontrar respuestas
        inmediatas a conflictos que puedan surgirnos, pero nuestra ilusión
        siempre nos permite encontrar soluciones.
      </p>
    </div>
  </section>
</main>
