<section class="quienes-somos">

    <h1 class="title-quienes-somos">QUIÉNES SOMOS</h1>

    <load 
    src="./tarjeta.html"
    name="Yessenia Colocho"
    linkedin="https://www.linkedin.com/in/yessenia-colocho/"
    github="https://github.com/YesseniaColocho"
    meilto="colocho.yessenia@gmail.com"
    img="foto_yesse.png"
    />

    <load 
    src="./tarjeta.html"
    name="Lorena Sánchez-Toril"
    linkedin="https://www.linkedin.com/in/lorena-s-4535b5102/"
    github="https://github.com/LorenaSTN"
    meilto="lorenstn@hotmail.com"
    img="foto_yesse.png"
    />

    <load 
    src="./tarjeta.html"
    name="Laura Parra"
    linkedin="https://www.linkedin.com/"
    github="https://github.com/laura-pf"
    meilto=""
    img="foto_yesse.png"
    />

    <load 
    src="./tarjeta.html"
    name="Shama Garijo"
    linkedin="https://www.linkedin.com/"
    github="https://github.com/ShamaGarijo"
    meilto=""
    img="foto_yesse.png"
    />

</section>
</main>