<section class="quienes-somos" id="quienesSomos">

    <h1 class="title-quienes-somos">QUIÉNES SOMOS</h1>

    <load 
    src="./tarjeta.html"
    name="Yessenia Colocho"
    desc="¡Hola! Soy Yessenia Colocho y desde pequeña me he sentido atraída por el mundo del arte y del diseño,
     pero jamás imaginé que me sentiría tan unida al mundo de la tecnología.
      Hasta que se me presentó la oportunidad de hacer un curso intensivo de UI/UX. 
      En ese momento me di cuenta de las increíbles posibilidades de la programación, adentrándome, sin casi darme cuenta, en un mundo fascinante donde el arte es trasportado a partir de unas líneas de código. "
    linkedin="https://www.linkedin.com/in/yessenia-colocho/"
    github="https://github.com/YesseniaColocho"
    meilto="colocho.yessenia@gmail.com"
    img="foto_yesse.png"
    />

    <load 
    src="./tarjeta.html"
    class="derecha"
    name="Lorena Sánchez-Toril"
    desc="¡Hola! Mi nombre es Lorena y tengo 31 años. Soy valenciana de pura cepa, por lo que no me fio de la gente
     que no le gusta ni la horchata ni la paella. En mis ratos libres disfruto 
     de pasar tiempo con mis amigas, del deporte al aire libre y de cuidar de mi perrillo.
      Soy constante, trabajadora y muy cabezona y siempre me ha interesado el mundo tecnológico
       y todo lo que había detrás, por lo que después de mucho tiempo pensándolo, me encuentro en
       este nuevo camino aprendiendo a programar."
    linkedin="https://www.linkedin.com/in/lorena-s-4535b5102/"
    github="https://github.com/LorenaSTN"
    meilto="lorenstn@hotmail.com"
    img="Lorena.jpg"
    />

    <load 
    src="./tarjeta.html"
    name="Laura Parra"
    desc="¡Hola! Soy Laura, tengo 31 años y aunque mis raíces son melillenses, 
    mi corazón está en Granada. Me considero una persona curiosa y observadora.
     Me apasiona aprender y enseñar. He estudiado logopedia y audioprótesis. 
     Llevo 4 años practicando acrobacias aéreas y 1 año pole dance, gracias a esto
      he descubierto que me encanta retarme a mi misma y ver hasta donde soy capaz 
      de llegar...así que creo que el mundo de programación en el que me adentro, es el indicado."
    linkedin="https://www.linkedin.com/"
    github="https://github.com/laura-pf"
    meilto=""
    img="foto-Laura.jpg"
    />

    <load 
    src="./tarjeta.html"
    class="derecha"
    name="Shama Garijo"
    desc="Hola a todas. Soy Shama. Pertenezco a dos naciones España e India. LLevo 14 años en Holanda.
    He trabajado en diferentes campos y mis pasiones varían entre trabajar con ONG’s,
    construcción natural, Psicología y educación, Medio ambiente, movimiento y creatividad."
    linkedin="https://www.linkedin.com/"
    github="https://github.com/ShamaGarijo"
    meilto=""
    img="gameboyfondo.jpg"
    />

</section>
</main>