<section class="quienes-somos">
    <div class="profile">
        <h1 class="title-quienes-somos">QUIÉNES SOMOS</h1>

        <div class="image-div">

        </div>

        <h2 class="name">Yessenia Colocho</h2>

        <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>

        <div class="social-media">
            <a href="https://www.linkedin.com/in/yessenia-colocho/"> <i class="fa-brands fa-linkedin icons"> </i> </a> ·
            <a href="https://github.com/YesseniaColocho"> <i class="fa-brands fa-github icons"> </i> </a> ·
            <a href="mailto:"> <i class="fa-solid fa-envelope icons"></i> </a> 
        </div>

    </div>

    <div class="profile">

        <div class="image-div">

        </div>

        <h2 class="name">Lorena Sánchez-Toril</h2>

        <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>

        <div class="icons">
            <a href="https://www.linkedin.com/in/lorena-s-4535b5102/"> <i class="fa-brands fa-linkedin icons"> </i> </a> ·
            <a href="https://github.com/LorenaSTN"> <i class="fa-brands fa-github icons"> </i> </a> ·
            <a href="mailto:lorenstn@hotmail.com"> <i class="fa-solid fa-envelope icons"></i> </a> 
        </div>

    </div>

    <div class="profile">

        <div class="image-div">

        </div>

        <h2 class="name">Laura Parra</h2>

        <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>

        <div class="icons">
            <a href="https://www.linkedin.com/"> <i class="fa-brands fa-linkedin icons"> </i> </a> ·
            <a href="https://github.com/laura-pf"> <i class="fa-brands fa-github icons"> </i> </a> ·
            <a href="mailto:"> <i class="fa-solid fa-envelope icons"></i> </a> 
        </div>

    </div>

    <div class="profile">

        <div class="image-div">

        </div>

        <h2 class="name">Shama Garijo</h2>

        <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>

        <div class="icons">
            <a href="https://www.linkedin.com/"> <i class="fa-brands fa-linkedin icons"> </i> </a> ·
            <a href="https://github.com/ShamaGarijo"> <i class="fa-brands fa-github icons"> </i> </a> ·
            <a href="mailto:"> <i class="fa-solid fa-envelope icons"></i> </a> 
        </div>

    </div>

</section>
</main>