<div class="profile {=$class}">
  <div class="image-div">
    <img src="/images/{=$img}" />
  </div>

<div class="text-div">
    <h2 class="name">{=$name}</h2>

    <p class="description">
      {=$desc}
    </p>

    <div class="social-media">
      <a href="{=$linkedin}"><i class="fa-brands fa-linkedin icons"></i></a> ·
      <a href="{=$github}"><i class="fa-brands fa-github icons"></i></a> ·
      <a href="mailto:{=$mailto}"><i class="fa-solid fa-envelope icons"></i></a>
    </div>

  </div>
</div>
