:root {
    --font-title: "Rubik", sans-serif;
    --font-body: "Open Sans", sans-serif;
    --font-color-tittle: #14d9c4;
}

/* Shama  */
.header {
    background-colgit 0);
    text-align: cegit 
    color: white;git 
    font-family: var(--font-title);
    font-size: 15px;
    line-height: 30px;
    
}

.nav{
    background: rgb(64, 224, 208,0.90);
    text-align: var();
    display: flex;
    color: white
    grid-gap;

}
.span1{
    display: flex;

}

.span2{
    width: 141px;
    height: 40px;
}

 /* fin apartado Shama  */

 /* Lorena  */

.container {
    padding: 15px;
}

.title {
    padding: 15px;
    height: 60px;
    font-size: 16px;
    font-family: var(--font-title);
    font-weight: 500;
    color: white;
    text-align: center;
    background-color: #099d8d;
}

.nav-listado {
    background-color: #14d9c4;
    position: sticky;
    padding: 15px;
}

.lista {
    display: flex;
    text-decoration-style: none;
    list-style-type: none;
    justify-content: space-between;
    font-family: var(--font-title);
    font-size: 15px;
}

.li a {
    text-decoration: none ;
    color: white;
    font-weight: 500;
}

.photo {
    background-color: rgb(255, 255, 255);
    height: 300px;
}


.contact h2 {
    color: #099d8d;
    text-align: center;
    font-family: var(--font-title);
    font-size: 24px;
    font-weight: 500;
    padding: 30px;
}

.contact-1 {
    font-family: var(--font-body);
    font-size: 16px;
    color: #54585A ;
    margin: 0 auto ;
    text-align: center;
    margin-bottom: 20px;
}

.contact-2 {
    font-family: var(--font-body);
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    color: #54585A ;
}

.form {
    padding-top: 58px;
    width: 290px;
    font-family: var(--font-body);
    font-size: 14px;
    color: #54585a;
}

.form input {
    width: 290px;
    height: 45px;
    margin-top: 7px;
    margin-bottom: 13px;
}

.obligatory {
    color: #14d9c4;
}

#mensaje {
    height: 105px;
}

.button {
    width: 290px;
    height: 45px;
    background-color: #099d8d;
    border-radius: 4px;
    color: white;
    border: none;
    margin-top: 30px;
    margin-bottom: 60px;
    cursor: pointer;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-1 {
    font-family: var(--font-body) ;
    font-size: 14px;
    color: #b8b8b9;
    text-align: center;
    margin-top: 30px;
}

.footer-2 {
    font-family: var(--font-body);
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 114px;
    font-weight: 600;
    color: #b8b8b9;
}

.footer-contact img {
    width: 115.9px;
}

.logo {
    height: 45px;
    margin-right: 30px;
 }
 /*quienes somos*/

.quienes-somos {
    width: 320px;
    height: 2225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;
    margin: 0 auto;

}

.title-quienes-somos {
    color:#099d8d; 
    font-family: var(--font-title);
    font-weight: 500;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 100px;
}

.image-div {
    width: 180px;
    height: 180px;
    background-color: #dee6e5;
    margin-bottom: 15px;
}

.name {
    font-family: var(--font-body);
    font-size: 20px;
    font-weight: normal;
    height: 45px;
}

.description {
    width: 290px;
    height: 200px;
    font-family: var(--font-body);
    color: #54585a;
    text-align: center;
}

/*PARA CENTRAR :Esta solucion de container sale en el video de mobile first de los apuntes, añadir un div.container*/

/*.container {
    margin: 0 15px;
}*/

/*Aquí he tenido que creear un nuevo contenedor para la section-2, pero si pongo margin: 0 auto; en el mismo section parece que también se centra*/

.section-2 {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 620px;
    padding: 30px 15px;
    margin: 0 auto;

}

.title-2 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 24px;
    text-align: center;
    color: var(--font-color-tittle);
    font-family: var(--font-title);
    font-weight: 500;
}

.parrafo-lorem-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    width: 340px;
    height: 250px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #54585a;
    align-self: center;
    font-family: var(--font-body);
}

.parrafo-vivamus-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    width: 340px;
    height: 230px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #54585a;
    align-self: center;
    font-family: var(--font-body);
}

/* Yessenia*/

.elemento-flotante{
    background: lightpink;
    height: 80px;
    width: 80px;
    position: relative;
    margin: 0 auto;
    z-index: 1;
    transform: rotate(45deg);
    bottom: -40px;
}
.elemento-gris-contactos{
    background:#b8b8b9;
    font-family: var(--font-title);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Ponemos el width a 100% para que sea responsive y con el max width limitamos su tamaño maximo */
    width: 100%;
    max-width: 300px;
    /* ------ */
    height: 620px;
    padding: 30px 15px;
    margin: 0 auto;
}

@media screen and (min-width: 300px) {
/* Mobile+ */
}
@media screen and (min-width: 768px) {
/* Tablet */
}
@media screen and (min-width: 1200px) {
/* Desktop */
}

