/* LAURA */
:root {
    --font-title: "Rubik", sans-serif;
    --font-body: "Open Sans", sans-serif;
    --font-color-tittle: #14d9c4;
}

.container {
    padding: 15px;
}

.title {
    padding: 15px;
    height: 60px;
    font-size: 16px;
    font-family: var(--font-title);
    color: white;
    text-align: center;
    background-color: #099d8d;
}

nav {
    background-color: #14d9c4;
    position: sticky;
    padding: 15px;
}

.lista {
    display: flex;
    text-decoration-style: none;
    list-style-type: none;
    justify-content: space-between;
    font-family: var(--font-title);
   
    font-size: 15px;
}

.li a {
    text-decoration: none ;
    color: white;
}

.photo {
    background-color: rgb(255, 255, 255);
    height: 300px;
}


.contact h2 {
    color: #099d8d;
    text-align: center;
    font-family: var(--font-title);
    font-size: 24px;
    padding: 30px;
}

.contact-1 {
    font-family: var(--font-body);
    font-size: 16px;
    color: #54585A ;
    margin: 0 auto ;
    text-align: center;
    margin-bottom: 20px;
}

.contact-2 {
    font-family: var(--font-body);
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    color: #54585A ;
}

.form {
    padding-top: 58px;
    width: 290px;
    font-family: var(--font-body);
    font-size: 14px;
    color: #54585a;
}

.form input {
    width: 290px;
    height: 45px;
    margin-top: 7px;
    margin-bottom: 13px;
}

#mensaje {
    height: 105px;
}

.button {
    width: 290px;
    height: 45px;
    background-color: #099d8d;
    border-radius: 4px;
    color: white;
    border: none;
    margin-bottom: 60px;
    cursor: pointer;
}

.footer-1 {
    font-family: var(--font-body) ;
    font-size: 14px;
    color: #b8b8b9;
    text-align: center;
}

.footer-2 {
    font-family: var(--font-body);
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

.footer-contact img {
    width: 115.9px;
}

.logo {
    margin-left: 102px;
}

/* Yesseia navegador*/

.nommbre-de-grupo{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #099d8d;
    --font-title: "Rubik", sans-serif;
}
.navegador-elementos{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    --font-title: "Rubik", sans-serif;
}
.elemento-padre-navegador{
    padding: 0;
    font-family: var(--font-title);
}


/*PARA CENTRAR :Esta solucion de container sale en el video de mobile first de los apuntes, añadir un div.container*/

/*.container {
    margin: 0 15px;
}*/

/*Aquí he tenido que creear un nuevo contenedor para la section-2, pero si pongo margin: 0 auto; en el mismo section parece que también se centra*/

.section-2 {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 620px;
    padding: 30px 15px;
    margin: 0 auto;

}

.title-2 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 24px;
    text-align: center;
    color: var(--font-color-tittle);
    font-family: var(--font-title);
    font-weight: 500;
}

.parrafo-lorem-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    width: 340px;
    height: 250px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #54585a;
    align-self: center;
    font-family: var(--font-body);
}

.parrafo-vivamus-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    width: 340px;
    height: 230px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #54585a;
    align-self: center;
    font-family: var(--font-body);
}

/* Yessenia*/

.elemento-flotante{
    background: white;
    height: 80px;
    width: 80px;
    position: relative;
    margin: 0 auto;
    z-index: 1;
    transform: rotate(45deg);
    bottom: -30px;
}
.elemento-gris-contactos{
    background:#b8b8b9;
    font-family: var(--font-title);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Ponemos el width a 100% para que sea responsive y con el max width limitamos su tamaño maximo */
    width: 100%;
    max-width: 300px;
    /* ------ */
    height: 700px;
    padding: 30px 15px;
    margin: 0 auto;
}
.texto-equipo{
    font-family: var(--font-title);
    color: #54585a;
    padding-bottom: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
}
.title-2{
    color: #099d8d;
}


@media screen and (min-width: 300px) {
/* Mobile+ */
}
@media screen and (min-width: 768px) {
/* Tablet */
}
@media screen and (min-width: 1200px) {
/* Desktop */
}

