.header {
    background-color: #099d8d;
    text-align: center;
    color: white;
}

.container {
    padding: 15px;
}

nav {
    background-color: #14d9c4;
    color: white;
    font-size: 15px;
    position: sticky;
    padding: 15px;
}

.lista {
    display: flex;
    text-decoration-style: none;
    list-style-type: none;
    
}

.foto {
    background-color: rgb(255, 255, 255);
    height: 30vh;
}
.title {
    color: #099d8d;
    text-align: center;
    font-size: 24px;
    padding: 30px;
}

/* LAURA */
.section-2 {
    background-color: aqua;
    height: 504px;
    width: 390px;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-2 {
    padding-bottom: 30px;
    padding-top: 20px;
}

.parrafo-lorem-2 {
    text-align: center;
    padding-bottom: 20px;

}

