
:root {
    --font-title: "Rubik", sans-serif;
    --font-body: "Open Sans", sans-serif;
    --font-color-tittle: #14d9c4;
}

/*LORENA CONTACT-US*/

.container {
    padding: 15px;
}

.title {
    padding: 15px;
    height: 60px;
    font-size: 16px;
    font-family: var(--font-title);
    color: white;
    text-align: center;
    background-color: #099d8d;
}

nav {
    background-color: #14d9c4;
    position: sticky;
    padding: 15px;
}

.lista {
    display: flex;
    text-decoration-style: none;
    list-style-type: none;
    justify-content: space-between;
    font-family: var(--font-title);
   
    font-size: 15px;
}

.li a {
    text-decoration: none ;
    color: white;
}

.photo {
    background-color: rgb(255, 255, 255);
    height: 300px;
}


.contact h2 {
    color: #099d8d;
    text-align: center;
    font-family: var(--font-title);
    font-size: 24px;
    padding: 30px;
}

.contact-1 {
    font-family: var(--font-body);
    font-size: 16px;
    color: #54585A ;
    margin: 0 auto ;
    text-align: center;
    margin-bottom: 20px;
}

.contact-2 {
    font-family: var(--font-body);
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    color: #54585A ;
}

.form {
    padding-top: 58px;
    width: 290px;
    font-family: var(--font-body);
    font-size: 14px;
    color: #54585a;
}

.form input {
    width: 290px;
    height: 45px;
    margin-top: 7px;
    margin-bottom: 13px;
}

#mensaje {
    height: 105px;
}

.button {
    width: 290px;
    height: 45px;
    background-color: #099d8d;
    border-radius: 4px;
    color: white;
    border: none;
    margin-bottom: 60px;
    cursor: pointer;
}

.footer-1 {
    font-family: var(--font-body) ;
    font-size: 14px;
    color: #b8b8b9;
    text-align: center;
}

.footer-2 {
    font-family: var(--font-body);
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

.footer-contact img {
    width: 115.9px;
}

.logo {
    margin-left: 102px;
}


/*LAURA*/

/*ELEMENTO FLOTANTE EN IMAGEN DE CABECERA*/

.float-header {
    display: flex;
    justify-content: center;
    transform: translateY(-50px);
    /*esta propiedad aqui o en el div float header*/
}


.div-float-header {

    width: 350px;
    background-color: white;
    padding: 15px;

}

.tittle-float-header {

    font-family: var(--font-body);
    font-size: 22px;
    text-align: center;
    font-weight: 645;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    color: var(--font-color-subtitle)
}

/*SECCIÓN EQUIPO*/

.section-equipo {

    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    padding: 0px 15px;
    margin: 0px auto;

}

.title-equipo {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 24px;
    text-align: center;
    color: var(--font-color-tittle);
    font-family: var(--font-title);
    font-weight: 500;



}

.text-equipo-1 {

    padding: 15px 10px;
    width: 340px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: var(--font-color-body);
    align-self: center;
    font-family: var(--font-body);

}

.text-equipo-2 {
    padding: 15px 10px;
    width: 340px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: var(--font-color-body);
    align-self: center;
    font-family: var(--font-body);
} 



/* Yessenia*/

.elemento-flotante{
    background: lightpink;
    height: 80px;
    width: 80px;
    position: relative;
    margin: 0 auto;
    z-index: 1;
    transform: rotate(45deg);
    bottom: -40px;
}
.elemento-gris-contactos{
    background:#b8b8b9;
    font-family: var(--font-title);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Ponemos el width a 100% para que sea responsive y con el max width limitamos su tamaño maximo */
    width: 100%;
    max-width: 300px;
    /* ------ */
    height: 620px;
    padding: 30px 15px;
    margin: 0 auto;
}

@media screen and (min-width: 300px) {
/* Mobile+ */
}
@media screen and (min-width: 768px) {
/* Tablet */
}
@media screen and (min-width: 1200px) {
/* Desktop */
}

